<div class="navbar navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-md-12 clearfix">
        <a class="navbar-brand" href="<%= url_for account_wall_path %>">ask<span>.me</span></a>
        <div class="notifications navbar-left">
          <ul class="list-inline">
            <li>
              <button class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-heart"></span>
              </button>
            </li>
            <li>
              <a href="<%= url_for account_questions_path %>">
                  <button class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-question-sign"></span>
                    <% if @unanswered.size > 0 %>
                    <span class="badge"><%= @unanswered.size %></span>
                    <% end %>
                  </button>
              </a>
            </li>
            <li>
              <button class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-share-alt"></span>
              </button>
            </li>
          </ul>
        </div>
        <nav class="navbar-right logged-in-nav">
          <ul class="list-inline">
            <li>
              <%= active_link_to 'Home', account_wall_path %>
            </li>
            <li>
              <%= active_link_to ("Questions <span>(#{@unanswered.size})</span>").html_safe, account_questions_path  %>
            </li>
            <li>
              <%= active_link_to 'Profile', profile_answers_path(current_user.username) %>
            </li>
            <li>
              <%= active_link_to 'Friends', account_follow_path %>
            </li>
            <li>
              <%= active_link_to 'Search', account_search_path %>
            </li>
            <li>
              <%= active_link_to 'Settings', account_settings_path %>
            </li>
            <li>
              <%= link_to ('<span class="glyphicon glyphicon-log-out"></span>').html_safe, destroy_user_session_path, :method => :delete %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div> <!-- end of navbar -->