<div class="row user-information">
  <div class="col-md-2">
    <%= image_tag 'friend.jpg', :class => 'profile-picture' %>
  </div>
  <div class="col-md-6">
    <strong class="profile-username"><%= @user.fullname %></strong>
    <span class="text-muted">| @<%= @user.username %></span>
    <span class="display-block"><%= @user.location %></span>

    <p class="text-muted">
      <em>
        <%= @user.description %>
      </em>
    </p>

  </div>
  <div class="col-md-4">
    <ul class="list-inline text-right trafic-info">
      <li>
        <a href="<%= url_for profile_answers_path %>">
          <strong><%= @answers.count %></strong>
          <span class="display-block">answers</span>
        </a>
      </li>
      <li>
        <a href="<%= url_for profile_best_path %>">
          <strong><%= @user.total_likes %></strong>
          <span class="display-block">likes</span>
        </a>
      </li>
      <% if user_signed_in? and current_user.id == @user.id %>
        <li>
          <strong><%= @user.followers_count %></strong>
          <span class="display-block">followers</span>
        </li>
      <% end %>
    </ul>
    <div class="actions text-right">
      <% if user_signed_in? and current_user.id != @user.id %>
          <% if current_user.following?(@user) %>
              <%= link_to 'Unfollow', profile_unfollow_path, :class => 'btn btn-default', :method => :post %>
          <% else %>
              <%= link_to 'Follow', profile_follow_path, :class => 'btn btn-success', :method => :post %>
          <% end %>
      <% end %>
    </div>
  </div>
</div> <!-- end of user-information -->

<div class="row post-question">
  <div class="col-md-12">
    <h4><strong>Amaze me</strong></h4>
    <%= form_for(Question.new, url: profile_ask_url) do |f| %>
      <div class="panel panel-default">
        <label for="question" class="sr-only">Question:</label>
        <%= f.text_area :question, :class => 'character-limit' %>
        <div class="panel-footer clearfix">
          <span id="remaining" class="pull-left letters-left character-count" data-default-value="300">300</span>
          <div class="pull-right">
            <% if user_signed_in? %>
            <label class="check"><%= f.check_box :anonymous %>Anonymous Question</label>
            <% end %>
            <%= f.submit 'Ask', :class => 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>