<div class="well billboard">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Ask and answer</h1>
        <%= link_to 'Join Now!', new_user_registration_path, :class => 'btn btn-success cta' %>
      </div>
    </div> <!-- end of row -->
    <div class="row clearfix">
      <div class="col-md-12">
        <div class="store-ctas pull-right">
          <button class="btn btn-default">Google Play</button>
          <button class="btn btn-default">Appstore</button>
        </div> <!-- end of store-ctas -->
        <div class="pull-left">
          <span>See who's here</span>

          <div class="arrow"></div>
        </div>
      </div>
    </div>
  </div> <!-- end of container -->
</div> <!-- end of well -->

<div class="container">
    <div class="row friends">
        <div class="col-md-12">
          <ul class="list-inline">
            <li><a href="#"><%= image_tag "friend.jpg" %></a></li>
            <li><a href="#"><%= image_tag "friend.jpg" %></a></li>
            <li><a href="#"><%= image_tag "friend.jpg" %></a></li>
            <li><a href="#"><%= image_tag "friend.jpg" %></a></li>
            <li><a href="#"><%= image_tag "friend.jpg" %></a></li>
            <li><a href="#"><%= image_tag "friend.jpg" %></a></li>
            <li><a href="#"><%= image_tag "friend.jpg" %></a></li>
            <li><a href="#"><%= image_tag "friend.jpg" %></a></li>
            <li><a href="#"><%= image_tag "friend.jpg" %></a></li>
            <li><a href="#"><%= image_tag "friend.jpg" %></a></li>
            <li><a href="#"><%= image_tag "friend.jpg" %></a></li>
            <li><a href="#"><%= image_tag "friend.jpg" %></a></li>
          </ul>
        </div>
    </div> <!-- end of row/friends -->
<div class="row lang">
    <div class="col-md-12">
      <ul class="breadcrumb">
        <li class="active"><a href="#">English</a></li>
        <li><a href="#">Romana</a></li>
      </ul>
    </div>
</div> <!-- end of row/lang -->
  <footer class="index-page-footer">
    <div class="row secondary-nav">
      <div class="col-md-12">
        <ul class="list-inline">
          <li><a href="#">About</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Safety Center</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
        <ul class="list-inline">
          <li><a href="#">Blog</a></li>
          <li><a href="#">Cookie Policy</a></li>
          <li><a href="#">Contact Us / Help</a></li>
          <li><a href="#" data-toggle="modal" data-target="#lang-modal">Language: <span class="lang-active">English</span></a></li>
        </ul>
      </div>
    </div> <!-- end of row/secondary-nav -->
    <div class="row social-and-copy clearfix">
      <div class="col-md-12">
        <ul class="social-media pull-left list-inline">
          <li><a href="#"><%= image_tag "facebook.png" %></a></li>
          <li><a href="#"><%= image_tag "twitter.png" %></a></li>
          <li><a href="#"><%= image_tag "instagram.png" %></a></li>
          <li><a href="#"><%= image_tag "askme.png" %></a></li>
        </ul>
        <p class="copyrights pull-right">&copy; Ask.me 2015</p>
      </div>
    </div> <!-- end of row/social-and-copy -->
  </footer>
</div> <!-- end of container -->
