<div class="container main-content create-account">
  <div class="row answers">
    <div class="col-md-12">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <h4><a href="#answers" role="tab" data-toggle="tab"><strong>Account</strong></a></h4>
        </li>
        <li>
          <h4><a href="<%= account_settings_avatar_update_url %>" role="tab" data-toggle="tab"><strong>Avatar</strong></a></h4>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= bootstrap_form_for(current_user, as: :user, url: account_settings_url, method: :patch) do |f| %>
          <%= f.text_field :fullname, :label => 'Full name' %>
          <%= f.text_field :location %>
          <%= f.text_area :description, rows: 7 %>
          <%= f.text_field :title %>

          <%= f.email_field :email %>
          <%= f.submit 'Update', :class => 'btn btn-success btn-block btn-lg' %>
      <% end %>
    </div>
  </div>
</div>

