<div class="container main-content create-account">
  <div class="row">
    <div class="col-md-12">
      <h3 class="title">sign in</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 register-form">
      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= flash_messages %>
          <%= f.text_field :username %>
          <%= f.password_field :password %>
          <% if devise_mapping.rememberable? %>
            <%= f.check_box :remember_me %>
          <% end %>
          <%= f.submit 'Sign in', :class => 'btn btn-success btn-block btn-lg' %>
      <% end %>
      <%= link_to 'Forgot you password?', new_user_password_path %>

    </div>
    <div class="col-md-6 social-media-registration">
      <ul>
        <li><button class="btn btn-facebook btn-block"><span class="btn-icon">f</span><strong>Sign Up</strong> with <strong>Facebook</strong></button></li>
        <li><button class="btn btn-twitter btn-block"><span class="btn-icon">t</span><strong>Sign Up</strong> with <strong>Twitter</strong></button></li>
        <li><button class="btn btn-vk btn-block"><span class="btn-icon">B</span><strong>Sign Up</strong> with <strong>Vk.com</strong></button></li>
      </ul>
    </div>
  </div>
</div>
