<div class="container main-content reply">
  <div class="row reply">
    <div class="col-md-12">
      <h4><strong>questions</strong></h4>
      <div class="questions-to-reply">
        <p>
          <strong><%= @question.question %> </strong>
          <%= format_question_sender_link @question %>
        </p>
        <div class="meta">
          <span class="text-muted"><%= time_ago_in_words @question.created_at %></span>
        </div>
      </div>
      <%= form_for(@question, url: account_answer_path(:id => @question.id)) do |f| %>
        <div class="panel panel-default">
          <label for="question" class="sr-only">Question:</label>
          <%= f.text_area :reply, autofocus: true %>
          <div class="panel-footer clearfix">
            <span class="pull-left btn-file">
                 <%= f.file_field :image %>
                 <span class="glyphicon glyphicon-camera"></span>
                 <span class="upload-btn-text">Add an image</span>
            </span>
            <div class="pull-right">
              <%= f.submit :Answer, :class => 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>