<div class="container main-content questions">
  <div class="row answers">
    <div class="col-md-12 clearfix">
      <button class="btn btn-primary btn-sm pull-right ocassional-question">Get random question</button>
      <h4><strong>questions</strong></h4>

      <% if @unanswered.length > 0 %>
      <ul class="list-unstyled">
        <% @unanswered.each do |question| %>
        <li>

          <a rel="nofollow" data-method="delete" href="<%= account_delete_question_url(question.id) %>">
            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </a>
          <p>
            <strong><%= emojify question.question %></strong>
            <%= format_question_sender_link question %>
          </p>
          <div class="meta">
            <span class="text-muted"><%= time_ago_in_words question.created_at %> ago</span>
          </div>
            <span class="actions">
              <%= link_to 'Answer', account_answer_path(question.id) %>
            </span>
        </li>
        <% end %>
        <li>
          <%= link_to ("<span class='glyphicon glyphicon-trash'></span>Delete all questions <span>(#{@unanswered.size})</span>").html_safe,
                  account_delete_questions_path, :method => :delete %>
        </li>
      </ul>
      <% else %>
        <%= render 'shared/empty' %>
      <% end %>
    </div>
  </div>
</div>
